* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bigContainer {
    background-image: url(./background.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

.container {
    padding-top: 1%;
}

.container input{
    border: 2px solid blue;
}

.countries {
    border: 1px solid rgba(0, 0, 255, 0.144);
    font-family: 'Courier New', Courier, monospace;
    
}

.card {
    background-color: rgb(156, 218, 218);
    opacity: 0.7;
}

.list-group-item {
    background-color: rgba(127, 255, 212, 0.411);
    font-family: 'Courier New', Courier, monospace;
    
}

h5 {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-img-top:hover{
    transform: scale(1.1);
    transition: all 2s;
}

@media (max-width: 500px){
    #search{
        width: 70% !important;
    }
}